// ==================================
// MAJOR BREAKPOINTS
// ==================================

$breakpoints: (
	small: 20em, // Mobile
	medium: 35em, // 560px // Tablet
	large: 60em // 960px // Desktop
);

// ==================================
// TWEAKPOINTS
// ==================================

$tweakpoints: ();
