// COLORS
// -------------------------------------------------------

$text:#181818;
$text-white:#FFF;
$header-green:#0D8F52;
$footer-text:#8C8C8C;

$borders:#BEBEBE;

$green:#119356;
$blue:#4AA9E0;
$magenta:#EC154F;
$red:#D21044;
$orange:#EB5D19;
$darkblue:#01315B;

