// FONTS
// -------------------------------------------------------
$baseline:24px;

$base-font-size:16px; // Used for REM mixin
$font-main:'PT Sans', Helvetica, Arial, sans-serif;
$font-helvetica:Helvetica, Arial, sans-serif;
