
@mixin container {
	width: 80%;
	@include breakpoint(large) {
		max-width: $width-large;
	}
	@include breakpoint(xlarge) {
		max-width: $width-xlarge;
	}
}

.global-header, .global-footer, .global-nav, .global-content {
	@include container;
}
