// SVG ICONS - BASIC USAGE

// <a href="/" class="icon-button">
// <svg class="icon icon-twitter">
// 	<use xlink:href="#icon-twitter"></use>
// </svg>
// </a>

.icon {
  width:32px;
  height:32px;
	fill:#222;
}

.icon-button {
	display:inline-block;
	svg {
		transition: fill 0.2s ease-in;
		&:hover {
			fill: #FFC627;
		}
	}
}
