// COLORS
// -------------------------------------------------------

$text:#181818;
$text-white:#FFF;
$header-green:#0D8F52;
$footer-text:#8C8C8C;

$borders:#BEBEBE;

$green:#119356;
$blue:#4AA9E0;
$magenta:#EC154F;
$red:#D21044;
$orange:#EB5D19;
$darkblue:#01315B;


/*

$color1-light2: #FFF;
$color1-light1: #FFF;
$color1-med: #FFF;
$color1-dark1: #FFF;
$color1-dark2: #FFF;
$color1-dark3: #FFF;

$color2-light2: #FFF;
$color2-light1: #FFF;
$color2-med: #FFF;
$color2-dark1: #FFF;
$color2-dark2: #FFF;
$color2-dark3: #FFF;

*/
