// =============================================================================
// Define Colour Variables
// =============================================================================

$white: #FFF;
$black: #181818;
$grey: #8C8C8C;
$green: #119356;
$blue: #4AA9E0;
$blue-dark: #01315B;
$magenta: #EC154F;
$red: #D21044;
$orange: #EB5D19;

// Text
$c-text: $black;
$c-text-on-colour: $white;
$c-header-text: $blue-dark;
$c-footer-text: $grey;

// Borders
$c-borders: $grey;
