// =============================================================================
// Define Font Variables
// =============================================================================

$baseline: 24px;

$base-font-size: 16px; // Used for REM mixin
$font-body: 'PT Sans', Helvetica, Arial, sans-serif;
$font-header: 'PT Sans', Helvetica, Arial, sans-serif;
$font-helvetica: Helvetica, Arial, sans-serif;
