// FONTS
// -------------------------------------------------------

$baseline:24px;

$base-font-size:16px; // Used for REM mixin

$font-main:'PT Sans', Helvetica, Arial, sans-serif;
$font-helvetica:Helvetica, Arial, sans-serif;

$font-xxl: 36px;
$font-xl: 26px;
$font-l: 21px;
$font-m: 18px;
$font-s: 15px;
$font-xs: 12px;
