
// FOR PICTURE/VIDEO TEXT COMBO BLOCKS
@mixin media-block($spacing:20px, $direction:left) {
	margin-bottom: $spacing;
	@if ($direction == 'down' || $direction == 'up' || $direction == 'none') {
		p {
			clear: both;
			display: block;
		}
	}
	@elseif $direction == 'left' {
		img {
			float: left;
			margin-bottom: $spacing;
		}
		p {
			float: right;
		}
	}
	@elseif $direction == 'right' {
		img {
			float: right;
			margin-bottom: $spacing;
		}
		p {
			float: left;
		}
	}
}
